@model interaktiva14.Models.ViewModels.SearchResultViewModel
<script type="text/javascript" src="~/js/site.js"></script>

<body class="subpage">
		<div id="page-wrapper">
			<!-- Content -->
				<section id="content">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<!-- Main Content -->
									<!-- Features -->
									<section id="features">
										<div class="container">
											<div class="row">	
												@for (var i = 0; i < Model.Movies.Count; i++)
                            					{
													<div class="col-4">
														<!-- Feature #1 -->
														<section>
															
															<h1>@Html.DisplayFor(model => model.Movies[@i].Title)</h1>
															<img src=@Model.Movies[@i].Poster alt=@Model.Movies[@i].Title>
															<h1>@Html.DisplayFor(model => model.Movies[@i].Year)</h1>
															
															<p> Plot blablalbalbal
																<span id="dots_@(i)">...</span>
																<span id="more_@(i)">
																	@Html.DisplayFor(model => model.Movies[@i].Plot)
																</span>
															</p>

															<button onclick="readMoreFunction(@i)" id="myBtn_@(i)">Read more</button>
															
														</section>
													</div>
												}
											</div>
										</div>
									</section>
							</div>
						</div>
					</div>
				</section>
</body>