@model interaktiva14.Models.ViewModels.HomeViewModel

<body>
    <div id="page-wrapper">
        <div id="banner">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-12-medium">
                        <!-- Banner Copy -->
                        <p>Top 5 right now!</p>                                        
                        <h1>Movie no1</h1>
                        <p>Plot of movie no1...........</p>
                    </div>
                    <div class="col-6 col-12-medium imp-medium">

                        <!-- Banner Image -->
                            <a href="#" class="bordered-feature-image"><img src="https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Popcorn image" /></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Features -->
        <section id="features">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Feature #1 -->
                        <section>
                            <a href="#" class="bordered-feature-image"><img src="https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="" /></a>
                            <h2>Movie no2</h2>
                            <p>
                                Plot of movie <strong>no2</strong> ...........
                            </p>
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Feature #2 -->
                        <section>
                            <a href="#" class="bordered-feature-image"><img src="https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="" /></a>
                            <h2>Movie no3</h2>
                            <p>
                                  Plot of movie <strong>no3</strong> ...........
                            </p>
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Feature #3 -->
                        <section>
                            <a href="#" class="bordered-feature-image"><img src="https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="" /></a>
                            <h2>Movie no4</h2>
                            <p>
                                 Plot of movie <strong>no4</strong> ...........
                            </p>
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Feature #4 -->
                        <section>
                            <a href="#" class="bordered-feature-image"><img src="https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="" /></a>
                            <h2>Movie no5</h2>
                            <p>
                                  Plot of movie <strong>no5</strong> ...........
                            </p>
                        </section>

                    </div>
                </div>
            </div>
        </section>
    </div>
</body>