@model interaktiva14.Models.ViewModels.HomeViewModel

<body>
    
    <div id="page-wrapper">
        <div id="banner">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-12-medium">
                        <!-- Banner Copy -->
                                                             
                        <h1> Title Movie no1 </h1>
                        <h3>Genre, Released, Director</h3>
                        <div class="description">
                            <div class="expandMoreContent" id="showMoreContent1"> 
                                <p>Plot of movie no1...........Mauris sit amet tellus urna. In facilisis, tortor vitae ultricies egestas, odio
                                    mi rhoncus arcu, quis euismod felis felis et velit. Mauris varius consectetur erat
                                    egestas tempus. Cras convallis odio sit amet risus convallis porttitor. Integer
                                    vehicula fermentum ligula at pretium. Suspendisse semper iaculis eros, eu aliquam
                                    justo imperdiet vel. Proin nec dictum mi. Duis commodo enim non tellus interdum
                                    iaculis. Phasellus ultrices diam sit amet orci lacinia sed consequat dui auctor.
                                </p>
                            </div>
                            <div class="expandMoreHolder">
                                <span expand-more data-hidetext="Show Less..." data-showtext="Show More..." data-target="showMoreContent1" class="btn-expand-more">...Show More</span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-6 col-12-medium imp-medium">

                        <!-- Banner Image -->
                            <a href="#" class="bordered-feature-image"><img src="https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="Popcorn image" /></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Features -->
        <section id="features">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Feature #1 -->
                        <section>
                            <a href="#" class="bordered-feature-image"><img src="https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="" /></a>
                            <h2>Title Movie no2</h2>
                            <h3>Genre, Released, Director</h3>
                            <div class="description">
                            <div class="expandMoreContent" id="showMoreContent2"> 
                            <p>
                                Plot of movie <strong>no2</strong> ...........Mauris sit amet tellus urna. In facilisis, tortor vitae ultricies egestas, odio
											mi rhoncus arcu, quis euismod felis felis et velit. Mauris varius consectetur erat
											egestas tempus. Cras convallis odio sit amet risus convallis porttitor. Integer
											vehicula fermentum ligula at pretium. Suspendisse semper iaculis eros, eu aliquam
											justo imperdiet vel. Proin nec dictum mi. Duis commodo enim non tellus interdum
											iaculis. Phasellus ultrices diam sit amet orci lacinia sed consequat dui auctor.
                            </p>
                            </div>
                            <div class="expandMoreHolder">
                                <span expand-more data-hidetext="Show Less..." data-showtext="Show More..." data-target="showMoreContent2" class="btn-expand-more">...Show More</span>
                            </div>
                        </div>
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Feature #2 -->
                        <section>
                            <a href="#" class="bordered-feature-image"><img src="https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="" /></a>
                            <h2>Title Movie no3</h2>
                            <h3>Genre, Released, Director</h3>
                            <div class="description">
                            <div class="expandMoreContent" id="showMoreContent3"> 
                            <p>
                                  Plot of movie <strong>no3</strong> ...........Mauris sit amet tellus urna. In facilisis, tortor vitae ultricies egestas, odio
											mi rhoncus arcu, quis euismod felis felis et velit. Mauris varius consectetur erat
											egestas tempus. Cras convallis odio sit amet risus convallis porttitor. Integer
											vehicula fermentum ligula at pretium. Suspendisse semper iaculis eros, eu aliquam
											justo imperdiet vel. Proin nec dictum mi. Duis commodo enim non tellus interdum
											iaculis. Phasellus ultrices diam sit amet orci lacinia sed consequat dui auctor.
                            </p>
                            </div>
                            <div class="expandMoreHolder">
                                <span expand-more data-hidetext="Show Less..." data-showtext="Show More..." data-target="showMoreContent3" class="btn-expand-more">...Show More</span>
                            </div>
                        </div>
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Feature #3 -->
                        <section>
                            <a href="#" class="bordered-feature-image"><img src="https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="" /></a>
                            <h2>Title Movie no4</h2>
                            <h3>Genre, Released, Director</h3>
                            <div class="description">
                            <div class="expandMoreContent" id="showMoreContent4"> 
                            <p>
                                 Plot of movie <strong>no4</strong> ...........Mauris sit amet tellus urna. In facilisis, tortor vitae ultricies egestas, odio
											mi rhoncus arcu, quis euismod felis felis et velit. Mauris varius consectetur erat
											egestas tempus. Cras convallis odio sit amet risus convallis porttitor. Integer
											vehicula fermentum ligula at pretium. Suspendisse semper iaculis eros, eu aliquam
											justo imperdiet vel. Proin nec dictum mi. Duis commodo enim non tellus interdum
											iaculis. Phasellus ultrices diam sit amet orci lacinia sed consequat dui auctor.
                            </p>
                            </div>
                            <div class="expandMoreHolder">
                                <span expand-more data-hidetext="Show Less..." data-showtext="Show More..." data-target="showMoreContent4" class="btn-expand-more">...Show More</span>
                            </div>
                        </div>
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Feature #4 -->
                        <section>
                            <a href="#" class="bordered-feature-image"><img src="https://images.unsplash.com/photo-1616530940355-351fabd9524b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80" alt="" /></a>
                            <h2>Title Movie no5</h2>
                            <h3>Genre, Released, Director</h3>
                            <div class="description">
                            <div class="expandMoreContent" id="showMoreContent5"> 
                            <p>
                                  Plot of movie <strong>no5</strong> ...........Mauris sit amet tellus urna. In facilisis, tortor vitae ultricies egestas, odio
											mi rhoncus arcu, quis euismod felis felis et velit. Mauris varius consectetur erat
											egestas tempus. Cras convallis odio sit amet risus convallis porttitor. Integer
											vehicula fermentum ligula at pretium. Suspendisse semper iaculis eros, eu aliquam
											justo imperdiet vel. Proin nec dictum mi. Duis commodo enim non tellus interdum
											iaculis. Phasellus ultrices diam sit amet orci lacinia sed consequat dui auctor.
                            </p>
                            </div>
                            <div class="expandMoreHolder">
                                <span expand-more data-hidetext="Show Less..." data-showtext="Show More..." data-target="showMoreContent5" class="btn-expand-more">...Show More</span>
                            </div>
                        </div>
                        </section>

                    </div>
                </div>
            </div>
        </section>
    </div>
</body>